<div class="user-wrapper">
  <form name="users.userForm">
      <table class="table edit">
          <thead>
          <tr>
              <th width="40%">이름</th>
              <th width="40%">메일 주소</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in users.users">
              <td>
                <ng-form name="userNameForm">
                  <input required name="userName" type="text" class="form-control" ng-model="user.name" ng-blur="users.updateUser(user.id, user)"/>

                  <div class="error" ng-messages="userNameForm.userName.$error">
                    <div ng-message="required">
                      이름을 입력해 주세요.
                    </div>
                  </div>
                </ng-form>
              </td>
              <td>
                <ng-form name="userEmailForm">
                  <input required name="userEmail" type="email" class="form-control" ng-model="user.email" ng-blur="users.updateUser(user.id, user)"/>

                  <div class="error" ng-messages="userEmailForm.userEmail.$error">
                    <div ng-message="required">
                      메일 주소를 입력해 주세요.
                    </div>
                    <div ng-message="email">
                      메일 주소는 example@example.com과 같은 형식이어야 합니다.
                    </div>
                  </div>
                </ng-form>
              </td>
              <td>
                <button type="button" class="btn btn-link"
                        ng-click="users.removeUser(user.id)">삭제</button>
                <a class="btn btn-link" href="#/users/{{user.id}}">보기</a>
              </td>
          </tr>
          </tbody>
      </table>
  </form>

    <div class="well">
        <h4>사용자 추가</h4>

        <form name="users.newUserForm" class="form-inline new-user" role="form" novalidate ng-submit="users.addUser()">
            <div class="form-group">
                <input required name="userName" type="text" class="form-control" ng-model="users.newUser.name" placeholder="이름">
                <div class="error" ng-messages="users.newUserForm.userName.$error" ng-if="users.showMessages('userName')">
                    <div ng-message="required">
                      이름을 입력해 주세요.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input required name="userEmail" type="email" class="form-control" ng-model="users.newUser.email" placeholder="메일 주소">
                <div class="error" ng-messages="users.newUserForm.userEmail.$error" ng-if="users.showMessages('userEmail')">
                    <div ng-message="required">
                      메일 주소를 입력해 주세요.
                    </div>
                    <div ng-message="email">
                      메일 주소는 example@example.com과 같은 형식이어야 합니다.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default">추가</button>
        </form>
    </div>
</div>
